body {
	background: #413D4C;	
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	text-align: center;
}

.userInputs {
	display: flex;
	justify-content: space-around;
	min-width: 1100px;
}

input {
	background: #F09EA3;
	border: 1px solid #333;
	font-size: 28px;
	border-radius: .9em;
	padding: 1rem;
	width: 12em;
}
  
select {
	background: #F09EA3;
	font-size: 28px;
	margin-left: .5rem;
	padding: .6rem;
	border-radius: .9em;
}

.head {
	padding-bottom: 50px;
	color: #F09EA3;
}

.course{
	font-size: 50px;
}